#mainScreen
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.contentContainer
{
  width:70vw;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}